__pycache__/
*.pyc
*.pyo

venv/
.venv/

.env
.env.*

.pytest_cache/
.mypy_cache/

dist/
build/
*.egg-info/

.vscode/
.idea/
.DS_Store

# Dataset grande demais para o GitHub (limite de 100MB)
Módulo 15 - pandas/spec/Contoso - Vendas Consolidado.csv
